@import "tailwindcss";

body {
  margin: 0;
  padding-top: 24px;
  min-height: 100vh;
  overflow: hidden;
  z-index: -5;
  background-color: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #171717;
  }
}
